# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\openServer\domains\testREG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
